body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E8E2EB;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    
header {
    background-color: #fff;
    color: #333;
    padding: 20px;
    margin-bottom: 50px;
    height: 80px;
    width: 100%;
    text-align: center;
}     
        
.title-home { 
    display: flex;
    flex-direction: row;
}

.title-home img {
    height: 100px;
    width: auto;
    margin: 0 50px 0 0;
}

.title-home h1 {
    font-size: 35px;
    color: #5B4255;
}

.img-home img {
    width: 100%;
    height: 100%;
}
        
.content-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-main {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.group-div {
    background-color: #508a9b50;
    padding: 8px;
    margin: 5px;
    border-radius: 10px;
}

.imagens {
    display: flex;
    flex-direction: column;
}

.imagens-locations {
    display: flex;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
}

.imagens-locations img {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}


.info-locations {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button-content {
    display: flex;
    text-decoration: none;
    text-align: center;
    margin: 30px 0 30px 5px;
    width: 100px;
    height: 25px;
    background-color: #50899B;
    border-radius: 10px;
    justify-content: center;
    border-style: none;
    transition: background-color 0.5s ease;
}

.button-content a {
    display: flex;
    text-align: center;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px 5px 10px ;
    transition: color 0.5s ease;
}

.buttons-all {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.buttons-all button:hover {
    background-color: #14657e;
}

.buttons-all a:hover {
    color: #333;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0 20px 0;
  text-align: center;
  margin-top: 50px;
  width: 100%;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer li {
  display: inline-block;
  margin-right: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  color: #ccc;
}

/* Para resoluções até 375px */
@media only screen and (max-width: 375px) {
    /* Insira as modificações aqui */
}

/* Para resoluções de 376px até 1024px */
@media only screen and (min-width: 376px) and (max-width: 1024px) {
    /* Insira as modificações aqui */
}

/* Para resoluções acima de 1024px */
@media only screen and (min-width: 1025px) {
    /* Insira as modificações aqui */
}